# Geral
.DS_Store
.idea/
*.iml
*.hprof

# Build
/build/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
.flutter_tool_state

# iOS
/ios/Pods/
/ios/Podfile.lock
/ios/Flutter/flutter_export_environment.sh
/ios/.symlinks/
/ios/Flutter/Flutter.podspec

# Android
/android/.cxx/
.android/
.android/gradle.properties
/android/app/build/
.android/local.properties
/android/gradle/
.gradle/
app/build/

# Arquivos VS Code
.vscode/

# Arquivos temporários
*.tmp
*.log

# Outras configurações locais
/fastlane/report.xml
/fastlane/Preview.html
/fastlane/screenshots/
**/test-output/

# Arquivos de depuração
*.log
*.tmp
*.swp
